
body {
  overflow: hidden;
  background-color: #FFFFFA;
  margin: 0;
}

video {
  width: 100%;
}

canvas {
  height: 100%;
  width: 100%;
}

.room-data {
  background-color: #1a202c;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-div {
  height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  align-items: center;
  grid-gap: 10px;
}

input[type=text] {
  display: block;
  padding: 0.75rem;
  border-color: #E9ECEF;
  border-style: solid;
  --webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.join-btn {
  display: inline-block;
  padding: 0.75rem;
  margin-top: 0.25rem;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  width: 160px;

  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }
}


:root {
  --body-background: #FFFFFA;
  --button-color: #2AAAFF;
  --button-hover: #228CDB;
  --input-color: #FFFCF9;
}


